<div class="row" *ngIf="pokemonList !== undefined">
  <div class="col col-sm-4" *ngFor="let pokemon of pokemonList['results']; let i = index">
    <div class="card mb-2">
      <img class="card-img-top" src="{{imageLink}}{{i+1}}.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">
          <div class="row">
            <div class="col">
              {{i+1}}#
            </div>
          </div>
          <div class="col">
            {{pokemon.name | uppercase}}
          </div>
        </h5>
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
        <!--content.</p>-->
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div>
  </div>
</div>



